{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    <!-- Banner section -->
    <section id="home" class="banner_wrapper p-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider1.jpg' %}');">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Forget to book the Hotel, Boss?</h1>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider2.jpg' %}');">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Book Now..</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="container booking-area">
            <form class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <input type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <input type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select class="form-select">
                        <option selected>Adults</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select class="form-select">
                        <option selected>Children</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <button type="submit" class="main-btn rounded-2 px-lg-3">Check Availability</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Banner section exit -->
{% endblock %}
